# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [17]:
# Your code hereimport pandas as pd
import pandas as pd 
ur = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [26]:
df.shape
print(df.shape)

(4008, 11)

In [25]:
data_types= df.dtypes
print(data_types)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [24]:
# Check for inappropriate data types and provide suggestions
for col, dtype in data_types.items():
    if dtype == 'object' and df[col].str.isnumeric().all():
        print(f"Column '{col}' is of type 'object' but contains only numeric values. Suggest converting to 'int' or 'float'.")
    elif dtype != 'object' and df[col].isna().sum() > 0:
        print(f"Column '{col}' contains missing values. Consider appropriate handling.")

Column 'Income' contains missing values. Consider appropriate handling.
Column 'Monthly Premium Auto' contains missing values. Consider appropriate handling.
Column 'Total Claim Amount' contains missing values. Consider appropriate handling.

In [27]:
# Get the number of unique values for each column

unique_values = df.nunique()
print(unique_values)

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [28]:
# Determine which columns are categorical
categorical_columns = unique_values[unique_values < 20].index.tolist()
print(f"Categorical columns: {categorical_columns}")

# Describe the unique values for each categorical column
for col in categorical_columns:
    print(f"Unique values for column '{col}': {df[col].unique()}")

# Describe the range of values for numerical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
for col in numerical_columns:
    print(f"Range of values for column '{col}': {df[col].min()} to {df[col].max()}")

Categorical columns: ['ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']
Unique values for column 'ST': ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
Unique values for column 'GENDER': [nan 'F' 'M' 'Femal' 'Male' 'female']
Unique values for column 'Education': ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Unique values for column 'Number of Open Complaints': ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Unique values for column 'Policy Type': ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Unique values for column 'Vehicle Class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Range of values for column 'Income': 0.0 to 99960.0
Range of values for column 'Monthly Premium Auto': 61.0 to 35354.0
Range of values for column 'Total Claim Amount': 0.382107 to 2893.239678

In [29]:
# Compute summary statistics for numerical columns
summary_statistics = df.describe().transpose()
print(summary_statistics)

# Additional statistics
for col in numerical_columns:
    print(f"Statistics for column '{col}':")
    print(f"  Mean: {df[col].mean()}")
    print(f"  Median: {df[col].median()}")
    print(f"  Mode: {df[col].mode()[0]}")
    print(f"  Standard Deviation: {df[col].std()}")
    print(f"  Quartiles: {df[col].quantile([0.25, 0.5, 0.75]).tolist()}")
    print()

                       count          mean           std        min  \
Income                1071.0  39295.701214  30469.427060   0.000000
Monthly Premium Auto  1071.0    193.234360   1601.190369  61.000000
Total Claim Amount    1071.0    404.986909    293.027260   0.382107

                               25%           50%      75%           max
Income                14072.000000  36234.000000  64631.0  99960.000000
Monthly Premium Auto     68.000000     83.000000    109.5  35354.000000
Total Claim Amount      202.157702    354.729129    532.8   2893.239678
Statistics for column 'Income':
  Mean: 39295.70121381886
  Median: 36234.0
  Mode: 0.0
  Standard Deviation: 30469.42706040185
  Quartiles: [14072.0, 36234.0, 64631.0]

Statistics for column 'Monthly Premium Auto':
  Mean: 193.234360410831
  Median: 83.0
  Mode: 65.0
  Standard Deviation: 1601.190368577621
  Quartiles: [68.0, 83.0, 109.5]

Statistics for column 'Total Claim Amount':
  Mean: 404.98690940896364
  Median: 354.729129
  Mode: 321.6
  Standard Deviation: 293.0272599264041
  Quartiles: [202.157702, 354.729129, 532.8]

In [30]:
# Compute summary statistics for categorical columns
for col in categorical_columns:
    print(f"Summary statistics for column '{col}':")
    print(df[col].value_counts())
    print()

Summary statistics for column 'ST':
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

Summary statistics for column 'GENDER':
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Summary statistics for column 'Education':
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Summary statistics for column 'Number of Open Complaints':
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Summary statistics for column 'Policy Type':
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Summary statistics for column 'Vehicle Class':
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [31]:
# Create a Series object for customer locations (state) and their frequencies
location_counts = df['ST'].value_counts()

# Sort the Series in ascending order to get less common locations first
sorted_locations = location_counts.sort_values()

# Retrieve the top 5 less common locations
top_5_less_common_locations = sorted_locations.head(5)

# Display the result
print("Top 5 less common customer locations:")
print(top_5_less_common_locations)

Top 5 less common customer locations:
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [33]:
# Your code her# Create a Series object for policy types and their total number of policies sold
policy_counts = df['Policy Type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
top_policy_type = policy_counts.idxmax()

# Display the result
print("Total number of policies sold for each type of policy:")
print(policy_counts)
print("\nPolicy type with the highest number of policies sold:")
print(top_policy_type)

Total number of policies sold for each type of policy:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the highest number of policies sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [34]:
# Create a DataFrame for Personal Auto policies
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']

# Create a DataFrame for Corporate Auto policies
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

# Calculate the average income for Personal Auto policies
average_income_personal_auto = personal_auto_df['Income'].mean()

# Calculate the average income for Corporate Auto policies
average_income_corporate_auto = corporate_auto_df['Income'].mean()

# Print the results
print(f"Average income for Personal Auto policies: ${average_income_personal_auto:.2f}")
print(f"Average income for Corporate Auto policies: ${average_income_corporate_auto:.2f}")
# Your code here

Average income for Personal Auto policies: $38180.70
Average income for Corporate Auto policies: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here